	body {
	    background-color: #00796B;
	    margin: 0;
	}
	
	h1 {
	    font-size: 2em;
	}
	
	#mainPopup {
	    width: 400px;
	    font-family: 'Roboto Condensed', sans-serif;
	}
	
	#current {
	    text-align: center;
	    background-color: #009688;
	    color:#FFF;
	    margin: 15px;
	    padding-bottom: 5px;
	}
	
	#current-icon {
	    height: 50px;
	}
	
	#main-content {
	    width: 310px;
	    background-color: #FFF;
	    margin: 0 auto 15px;
	    padding: 30px;
	}
	
	#right {
	    float: right;
	}

	#sizer{
			height:236px;
	    overflow: hidden;
	}
	#expander{
		visibility: hidden;
	}
	
	#left {
			padding-top: 3px;
	    float: left;
	}
	
	#clearer {
	    clear: both;
	}
